# Wuzapi server
WUZAPI_PORT=8080
WUZAPI_ADMIN_TOKEN=
WUZAPI_GLOBAL_ENCRYPTION_KEY=
WUZAPI_GLOBAL_HMAC_KEY=
WUZAPI_GLOBAL_WEBHOOK=

# Database
DB_USER=wuzapi
DB_PASSWORD=wuzapi
DB_NAME=wuzapi
DB_PORT=5432

# Misc
TZ=America/Sao_Paulo
WEBHOOK_FORMAT=json
SESSION_DEVICE_NAME=WuzAPI
